Makefile
.libs
.deps
*.lo
*.la
*.o
*.so
*.a
*.tar.bz2
*.tar.gz
.*.swp
*stamp
stamp*
config.log
config.h
config.cache
config.h.in~
autom4te.cache
config.status
stamp-h1
libtool
esdesktop.spec
Makefile.in
aclocal.m4
m4/
compile
config.guess
config.h.in
config.sub
configure
configure.ac
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
intltool-*
INSTALL
config.status.lineno
ChangeLog
config.h.in~
cov-int/
common/esdesktop-marshal.c
common/esdesktop-marshal.h
common/tumbler.c
common/tumbler.h
po/POTFILES
po/Makefile.in.in
po/stamp-it
po/*.gmo
po/.intltool-merge-cache*
settings/expidus-backdrop-settings.desktop
settings/esdesktop-settings
settings/esdesktop-settings-appearance-frame-ui.h
settings/esdesktop-settings-ui.h
settings/expidus-backdrop-settings.desktop.in
src/*-enum-types.*
src/esdesktop
src/esdesktop-marshal.c
src/esdesktop-marshal.h
src/esdesktop-file-manager-proxy.c
src/esdesktop-file-manager-proxy.h
src/esdesktop-lunar-proxy.c
src/esdesktop-lunar-proxy.h
src/esdesktop-trash-proxy.c
src/esdesktop-trash-proxy.h
